
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  /* Reset some default styles */
body {
    font-family: Arial, sans-serif;
    height: auto;
    background-color: rgb(14, 14, 14);
    color: white;
}

/* Navbar styling */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(0, 0, 0));
    color: white;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 4000;
}

/* Logo styling */
.navbar .logo {
    font-size: 1.9em;
    font-weight: bold;
    color: #e50914;
    text-decoration: none;
}

/* Navbar menu */
.navbar ul {
    list-style: none;
    display: flex;
    margin-right: 900px;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1em;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #e50914;
}

/* Profile or other icons */
.navbar .profile {
    display: flex;
    align-items: center;
}

.navbar .profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

.navbar .icon a i{
    text-decoration: none;
    color: #ffffff;
    margin-right: 30px;
    font-size: 25px;
    font-weight: 600;
}

.video-background {
    position: relative;
    height: 100vh; /* ياخد طول الشاشة بالكامل */
    overflow: hidden;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover; /* يخلي الفيديو يغطي المساحة */
}

.s1_content {
    position: relative;
    bottom: 690px;
    left: 0;
    color: white;
    z-index: 1000; /* فوق الفيديو */
}

.s1_content img {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    top: -40px;
    left: 40px;

}

.s1_content h2 {
    position: absolute;
    font-size: 19px;
    font-weight: 500;
    line-height: 40px;
    z-index: 1000;
    top: 300px;
    right: 60vw;
    left: 50px;
    bottom: 0px;
}

.s1_content button {
    position: absolute;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    z-index: 1000;
    top: 450px;
    left: 50px;
    padding: 3px 30px; 
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.s1_content button i{
    margin-right: 15px;
}

.s1_content .b1{
    left:200px ;
    background-color:#15151591 ;
    color: rgb(255, 255, 255);
}

/* S2 */

.list-1{
    position: relative;
    bottom: 130px;
    color: white;
    z-index: 1000; /* فوق الفيديو */
    width: 100%;
    margin:auto;
    left: 50px;
    
}

.posters{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

.posters .poster-son{
    background-size: cover;
    height: 300px;
    width: 200px;
    content: "";
    position: relative;
}

.posters .poster-son:hover{
    transform: scale(1.1);
    transition: 0.5s;
}


.det{
    position: absolute;
    width: 200px;
    height: 100%;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.984));
    transition: 1s;
    opacity: 0;
}
.det:hover{
    opacity: 1;
}

.det i{
    margin-top: 80%;
    margin-left: 10px;
    font-size: 13px;
    border: 2px solid #ffffff00;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 100%;
    padding: 8px;
}
.det i:hover{
    background-color: #000000;
    color: white;
    cursor: pointer;
}
.det div{
    margin-left: 10px;
    margin-top: 20px;
}

.det div span{
    display: inline;
    font-size: 18px;
    margin: 10px 8px;
    color: rgba(170, 170, 170, 0.898);
}

.det div button{
    border: 1px solid gray;
    background-color: #15151500;
    color: white;
    padding: 2px;
}

.det div h2{
    font-size: 17px;
    color: white;
    margin-top: 20px;
}


/* --------- */

.list-2{
    position: relative;
    bottom: 130px;
    color: white;
    z-index: 1000; /* فوق الفيديو */
    width: 100%;
    margin:auto;
    left: 50px;
    top: -80px;
}

/* --------- */


.list-3{
    position: relative;
    bottom: 130px;
    color: white;
    z-index: 1000; /* فوق الفيديو */
    width: 100%;
    margin:auto;
    left: 50px;
    top: -30px;
}


.list-4{
    position: relative;
    bottom: 130px;
    color: white;
    z-index: 1000; /* فوق الفيديو */
    width: 100%;
    margin:auto;
    left: 50px;
    top: 20px;
}







/* ----------------------------------------------------- */


.about{
    width: 70%;
    margin: auto;
    margin-top: 100px;
}

.about i{
    font-size: 30px;
    margin: 60px 20px;
    color: #ffffffa9;
    
}

.about .con{
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    gap: 20px;
}

.about button{
    display: block;
    margin: 50px 0px;
    padding: 10px;
    background-color: #ffffff00;
    color: white;
    text-decoration: none;
    border: 1px solid gray;
    cursor: pointer;
}

.about span{
    word-spacing: 2px;
    padding-bottom: 50px;
}


/* posters------------------------------------ */
.p-1{
    background-image: url(/images/Movies/8.jpg)
}
.p-2{
    background-image: url(/images/Movies/9.jpg)
}
.p-3{
    background-image: url(/images/Movies/10.jpg)
}
.p-4{
    background-image: url(/images/Movies/11.jpg)
}
.p-5{
    background-image: url(/images/Movies/12.jpg)
}
.p-6{
    background-image: url(/images/Movies/13.jpg)
}
.p-7{
    background-image: url(/images/Movies/14.jpg)
}
.p-8{
    background-image: url(/images/Movies/15.jpg)
}
.p-9{
    background-image: url(/images/Movies/16.jpg)
}
.p-10{
    background-image: url(/images/Movies/17.jpg)
}
.p-11{
    background-image: url(/images/Movies/18.jpg)
}
.p-12{
    background-image: url(/images/Movies/19.jpg)
}
.p-13{
    background-image: url(/images/Movies/20.jpg)
}
.p-14{
    background-image: url(/images/Movies/21.jpg)
}
.p-15{
    background-image: url(/images/Movies/1.jpg)
}
.p-16{
    background-image: url(/images/Movies/2.jpg)
}
.p-17{
    background-image: url(/images/Movies/3.jpg)
}
.p-18{
    background-image: url(/images/Movies/4.jpg)
}
.p-19{
    background-image: url(/images/Movies/5.jpg)
}
.p-20{
    background-image: url(/images/Movies/6.jpg)
}
.p-21{
    background-image: url(/images/Movies/7.jpg)
}
.p-22{
    background-image: url(/images/Movies/22.jpg)
}
.p-23{
    background-image: url(/images/Movies/23.jpg)
}
.p-24{
    background-image: url(/images/Movies/24.jpg)
}
.p-25{
    background-image: url(/images/Movies/25.jpg)
}
.p-26{
    background-image: url(/images/Movies/26.jpg)
}
.p-27{
    background-image: url(/images/Movies/27.jpg)
}
.p-28{
    background-image: url(/images/Movies/28.jpg)
}